@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --Heebo: 'Heebo', sans-serif;
}

/*navbar */

.bi-list{
    color: white;
}

.navbar-brand img{
    width: 60px;
    height: 60px;
}

.bg-dark{
    background: linear-gradient(180deg, #20233C -25.55%, #4B4F6C 371.69%, #565A78 468.61%);
}

.nav-link{
    font-family: var(--Heebo);
    font-style: normal;
    font-weight: 400;
    font-size: 13pt;
    line-height: 47px;
    text-transform: uppercase;
}

.active{
    font-weight: 700;
}

img{
    width: 100%;
}